@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: #AAC4F5;
  --foreground: oklch(0.15 0 0);
  --primary: oklch(0.20 0 0);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.20 0 0);
  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.70 0 0);
}

.dark {
  --background: oklch(0.15 0 0);
  --foreground: oklch(0.98 0 0);
  --primary: oklch(0.92 0 0);
  --primary-foreground: oklch(0.20 0 0);
  --secondary: oklch(0.27 0 0);
  --secondary-foreground: oklch(0.98 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.55 0 0);
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
  }

  * {
    border-color: var(--border);
  }
}
